<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vanilla.healthmanagement.dao.WorkerMapper">
  <resultMap id="BaseResultMap" type="com.vanilla.healthmanagement.pojo.Worker">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="worker_name" jdbcType="VARCHAR" property="workerName" />
    <result column="worker_password" jdbcType="VARCHAR" property="workerPassword" />
    <result column="worker_phone" jdbcType="VARCHAR" property="workerPhone" />
    <result column="worker_wechat" jdbcType="VARCHAR" property="workerWechat" />
    <result column="worker_mail" jdbcType="VARCHAR" property="workerMail" />
    <result column="worker_address" jdbcType="VARCHAR" property="workerAddress" />
    <result column="worker_card" jdbcType="VARCHAR" property="workerCard" />
    <result column="worker_sex" jdbcType="INTEGER" property="workerSex" />
    <result column="worker_photourl" jdbcType="VARCHAR" property="workerPhotourl" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, worker_name, worker_password, worker_phone, worker_wechat, worker_mail, worker_address, 
    worker_card, worker_sex, worker_photourl, remarks, active, create_date
  </sql>
  <select id="selectByExample" parameterType="com.vanilla.healthmanagement.pojo.WorkerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from worker
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from worker
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.vanilla.healthmanagement.pojo.WorkerExample">
    delete from worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vanilla.healthmanagement.pojo.Worker">
    insert into worker (id, worker_name, worker_password, 
      worker_phone, worker_wechat, worker_mail, 
      worker_address, worker_card, worker_sex, 
      worker_photourl, remarks, active, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{workerName,jdbcType=VARCHAR}, #{workerPassword,jdbcType=VARCHAR}, 
      #{workerPhone,jdbcType=VARCHAR}, #{workerWechat,jdbcType=VARCHAR}, #{workerMail,jdbcType=VARCHAR}, 
      #{workerAddress,jdbcType=VARCHAR}, #{workerCard,jdbcType=VARCHAR}, #{workerSex,jdbcType=INTEGER}, 
      #{workerPhotourl,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{active,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.vanilla.healthmanagement.pojo.Worker">
    insert into worker
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workerName != null">
        worker_name,
      </if>
      <if test="workerPassword != null">
        worker_password,
      </if>
      <if test="workerPhone != null">
        worker_phone,
      </if>
      <if test="workerWechat != null">
        worker_wechat,
      </if>
      <if test="workerMail != null">
        worker_mail,
      </if>
      <if test="workerAddress != null">
        worker_address,
      </if>
      <if test="workerCard != null">
        worker_card,
      </if>
      <if test="workerSex != null">
        worker_sex,
      </if>
      <if test="workerPhotourl != null">
        worker_photourl,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="workerName != null">
        #{workerName,jdbcType=VARCHAR},
      </if>
      <if test="workerPassword != null">
        #{workerPassword,jdbcType=VARCHAR},
      </if>
      <if test="workerPhone != null">
        #{workerPhone,jdbcType=VARCHAR},
      </if>
      <if test="workerWechat != null">
        #{workerWechat,jdbcType=VARCHAR},
      </if>
      <if test="workerMail != null">
        #{workerMail,jdbcType=VARCHAR},
      </if>
      <if test="workerAddress != null">
        #{workerAddress,jdbcType=VARCHAR},
      </if>
      <if test="workerCard != null">
        #{workerCard,jdbcType=VARCHAR},
      </if>
      <if test="workerSex != null">
        #{workerSex,jdbcType=INTEGER},
      </if>
      <if test="workerPhotourl != null">
        #{workerPhotourl,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vanilla.healthmanagement.pojo.WorkerExample" resultType="java.lang.Long">
    select count(*) from worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update worker
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.workerName != null">
        worker_name = #{record.workerName,jdbcType=VARCHAR},
      </if>
      <if test="record.workerPassword != null">
        worker_password = #{record.workerPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.workerPhone != null">
        worker_phone = #{record.workerPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.workerWechat != null">
        worker_wechat = #{record.workerWechat,jdbcType=VARCHAR},
      </if>
      <if test="record.workerMail != null">
        worker_mail = #{record.workerMail,jdbcType=VARCHAR},
      </if>
      <if test="record.workerAddress != null">
        worker_address = #{record.workerAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.workerCard != null">
        worker_card = #{record.workerCard,jdbcType=VARCHAR},
      </if>
      <if test="record.workerSex != null">
        worker_sex = #{record.workerSex,jdbcType=INTEGER},
      </if>
      <if test="record.workerPhotourl != null">
        worker_photourl = #{record.workerPhotourl,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.active != null">
        active = #{record.active,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update worker
    set id = #{record.id,jdbcType=INTEGER},
      worker_name = #{record.workerName,jdbcType=VARCHAR},
      worker_password = #{record.workerPassword,jdbcType=VARCHAR},
      worker_phone = #{record.workerPhone,jdbcType=VARCHAR},
      worker_wechat = #{record.workerWechat,jdbcType=VARCHAR},
      worker_mail = #{record.workerMail,jdbcType=VARCHAR},
      worker_address = #{record.workerAddress,jdbcType=VARCHAR},
      worker_card = #{record.workerCard,jdbcType=VARCHAR},
      worker_sex = #{record.workerSex,jdbcType=INTEGER},
      worker_photourl = #{record.workerPhotourl,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      active = #{record.active,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vanilla.healthmanagement.pojo.Worker">
    update worker
    <set>
      <if test="workerName != null">
        worker_name = #{workerName,jdbcType=VARCHAR},
      </if>
      <if test="workerPassword != null">
        worker_password = #{workerPassword,jdbcType=VARCHAR},
      </if>
      <if test="workerPhone != null">
        worker_phone = #{workerPhone,jdbcType=VARCHAR},
      </if>
      <if test="workerWechat != null">
        worker_wechat = #{workerWechat,jdbcType=VARCHAR},
      </if>
      <if test="workerMail != null">
        worker_mail = #{workerMail,jdbcType=VARCHAR},
      </if>
      <if test="workerAddress != null">
        worker_address = #{workerAddress,jdbcType=VARCHAR},
      </if>
      <if test="workerCard != null">
        worker_card = #{workerCard,jdbcType=VARCHAR},
      </if>
      <if test="workerSex != null">
        worker_sex = #{workerSex,jdbcType=INTEGER},
      </if>
      <if test="workerPhotourl != null">
        worker_photourl = #{workerPhotourl,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vanilla.healthmanagement.pojo.Worker">
    update worker
    set worker_name = #{workerName,jdbcType=VARCHAR},
      worker_password = #{workerPassword,jdbcType=VARCHAR},
      worker_phone = #{workerPhone,jdbcType=VARCHAR},
      worker_wechat = #{workerWechat,jdbcType=VARCHAR},
      worker_mail = #{workerMail,jdbcType=VARCHAR},
      worker_address = #{workerAddress,jdbcType=VARCHAR},
      worker_card = #{workerCard,jdbcType=VARCHAR},
      worker_sex = #{workerSex,jdbcType=INTEGER},
      worker_photourl = #{workerPhotourl,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      active = #{active,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>